body {
  padding-top: 70px;
}
.show > .dropdown-menu {
  display: block;
  position: absolute;
}
.jumbotron-fluid {
  width: 1110px;
  height: 300px;
  background-color: rgb(233, 195, 126);
  align-content: center;
}
.jumbotron-expense {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(235, 207, 157);
  border:2px solid orange;
  align-content: center;
}

.expense-text{
  margin-top: -20px;
  margin-bottom: 2px;
}

.jumbotron-bill {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(248, 200, 188);
  border:2px solid red;
  align-content: center;
}

.expense-text{
  margin-top: -20px;
  margin-bottom: 2px;
}

.jumbotron-income {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(190, 201, 252);
  border:2px solid blue;
  align-content: center;
}

.expense-text{
  margin-top: -20px;
  margin-bottom: 2px;
}

.jumbotron-dashboard {
  background-color: rgb(209, 250, 212);
  border:2px solid green;
}

.display-4 {
  font-style: italic;
}

.navbar-brand{
  font-style: italic; 
}

.table thead th, td {
  text-align: center;
  vertical-align: middle;
}